<div class="ui breadcrumb">
  <a [routerLink]="RoutePaths.home.toUrl()" class="section">ETF Lager</a>
  <i class="right angle icon divider"></i>
  <a [routerLink]="RoutePaths.admin_home.toUrl()" class="section">Admin</a>
  <i class="right angle icon divider"></i>
  <div class="active section">Bildhantering</div>
</div>

<h2 class="ui center aligned header">Bildhantering</h2>
<div class="ui divider"></div>

<a [routerLink]="RoutePaths.admin_images_upload.toUrl()" class="ui orange button">
  Ladda upp bilder
</a>
<br>

<div *ngIf="images.length != 0" class="ui padded segment orange">
  <div *ngIf="images.length != 0" class="ui grid">
    <div *ngFor="let image of images" class="four wide column">
      <div class="ui card">
        <div class="image">
          <div *ngIf="loading" class="ui placeholder">
            <div class="square image"></div>
          </div>
          <img *ngIf="!loading" src="data:image/png;base64,{{image.imageData}}">
        </div>
        <div class="content">
          <a *ngIf="editing != image.imgnr" class="header">{{image.name}}</a>
          <div *ngIf="editing == image.imgnr" class="ui input">
            <input [(ngModel)]="imageName" (keyup.enter)="saveImage(image)" type="text" placeholder="Bildnamn">
          </div>
          <br *ngIf="editing == image.imgnr">
          <br *ngIf="editing == image.imgnr">
          <div class="meta">
            <span *ngIf="!loading" class="date">{{image.imgnr}}</span>
          </div>
        </div>
        <div *ngIf="!loading" class="extra content">
          <div class="ui two buttons">
            <button *ngIf="editing == image.imgnr" (click)="saveImage(image)"
              class="ui green button">Spara</button>
            <button *ngIf="editing == image.imgnr" (click)="cancelEdit()" class="ui button">Avbryt</button>
            <button *ngIf="editing != image.imgnr" (click)="editImage(image.imgnr, image.name)"
              class="ui blue button">Redigera</button>
            <button *ngIf="editing != image.imgnr" (click)="deleteImage(image.imgnr)" class="ui red button">Ta bort</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 *ngIf="images.length == 0" class="ui header">
  Det finns inga bilder i bildbanken...
</h2>