@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);
body {
  margin: 0;
  padding: 0;
}

.init-loading-area {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  padding: 5vw;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

/* TEXT AND LINK COLORS */

.ui.breadcrumb a, a, .ui.breadcrumb a:link, a:link, .ui.breadcrumb a:visited, a:visited {
  color: #0050b3;
}

.ui.breadcrumb a:hover, a:hover, .ui.breadcrumb a:active, a:active {
  color: #003a8c;
}

.ui.grey.header {
  color: #bfbfbf !important;
}

.ui.blue.header, i.blue.icon {
  color: #0050b3 !important;
}

/* BUTTON AND GRID COLORS */

.ui.grid>.grey.column {
  background-color: #bfbfbf !important;
}

.ui.grid>.red.column, .ui.red.button {
  background-color: #cf1322 !important;
}

.ui.grid>.darkred.column, .ui.red.button:hover, .ui.red.button:active, .ui.red.button:focus {
  background-color: #a8071a !important;
}

.ui.grid>.green.column, .ui.green.button {
  background-color: #389e0d !important;
}

.ui.grid>.darkgreen.column, .ui.green.button:hover, .ui.green.button:active, .ui.green.button:focus {
  background-color: #237804 !important;
}

.ui.grid>.blue.column, .ui.blue.button {
  background-color: #0050b3 !important;
}

.ui.grid>.darkblue.column, .ui.blue.button:hover, .ui.blue.button:active, .ui.blue.button:focus {
  background-color: #003a8c !important;
}

.ui.grid>.blackblue.column {
  background-color: #002766 !important;
}

/* TABLE COLORS */

.ui.blue.table {
  border-top-color: #0050b3;
}

/* LABEL COLORS */

.ui.orange.toggle.checkbox input:checked~label::before {
  background-color: #fa8c16 !important;
}

.ui.red.label {
  background-color: #cf1322 !important;
  border-color: #cf1322 !important;
}

.ui.orange.label {
  background-color: #fa8c16 !important;
  border-color: #fa8c16 !important;
}

.ui.green.label {
  background-color: #389e0d !important;
  border-color: #389e0d !important;
}