<div class="ui breadcrumb">
  <a [routerLink]="RoutePaths.home.toUrl()" class="section">ETF Lager</a>
  <i class="right angle icon divider"></i>
  <a [routerLink]="RoutePaths.admin_home.toUrl()" class="section">Admin</a>
  <i class="right angle icon divider"></i>
  <div class="active section">Produkthantering</div>
</div>

<h2 class="ui center aligned header">Produkthantering</h2>
<div class="ui divider"></div>

<a [routerLink]="RoutePaths.admin_products_add.toUrl()" class="ui red button">
  Ny produkt
</a>

<table class="ui red celled padded table">
  <thead>
    <tr>
      <th>Artnr</th>
      <th>Titel</th>
      <th>Pris</th>
      <th>Lagerstatus</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>
        {{product.artnr}}
      </td>
      <td class="single line">
        {{product.title}}
      </td>
      <td class="single line">
        <product-card-price [product]="product"></product-card-price>
      </td>
      <td class="single line">
        <product-stock-status [stockStatus]="product.stockStatus"></product-stock-status>
      </td>
      <td>
        <div class="ui icon buttons">
          <a [routerLink]="gotoProduct(product.artnr)" class="ui green button"><i class="list icon"></i></a>
          <a [routerLink]="editProduct(product.artnr)" class="ui blue button"><i class="edit icon"></i></a>
          <button (click)="deleteProduct(product.artnr)" class="ui red button"><i
              class="trash alternate icon"></i></button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="3">
        <div class="ui right floated pagination menu">
          <a class="icon item">
            <i class="left chevron icon"></i>
          </a>
          <a class="item">1</a>
          <a class="item">2</a>
          <a class="item">3</a>
          <a class="item">4</a>
          <a class="icon item">
            <i class="right chevron icon"></i>
          </a>
        </div>
      </th>
    </tr>
  </tfoot>
</table>