<div *ngIf="product != null">
  <div class="ui breadcrumb">
    <a [routerLink]="RoutePaths.home.toUrl()" class="section">ETF Lager</a>
    <i class="right angle icon divider"></i>
    <a [routerLink]="RoutePaths.admin_home.toUrl()" class="section">Admin</a>
    <i class="right angle icon divider"></i>
    <a [routerLink]="RoutePaths.admin_products.toUrl()" class="section">Produkthantering</a>
    <i class="right angle icon divider"></i>
    <div class="active section">Redigera produkt "{{product.title}}"</div>
  </div>

  <h2 class="ui center aligned header">Redigera produkt "{{product.title}}"</h2>
  <div class="ui divider"></div>

  <product-editor [product]="product"></product-editor>
</div>