<div class="ui stackable two column grid container">
  <div class="column">
    <br>
    <a [routerLink]="RoutePaths.home.toUrl()">
      <h1 class="ui header header-line">ETF Lager</h1>
      <h3 class="ui blue header header-line">ElektroTekniska Föreningen</h3>
      <h4 class="ui grey header header-line">Lunds Tekniska Högskola</h4>
    </a>
  </div>
  <div class="right aligned column">
    <br>
    <br>
    <a [routerLink]="RoutePaths.admin_home.toUrl()" class="admin-link">
      <i class="large blue sign-in icon"></i>
    </a>
    <div class="ui action input">
      <input #searchBox (keyup.enter)="searchFor(searchBox.value)" type="text" placeholder="Sök...">
      <button (click)="searchFor(searchBox.value)" class="ui button">Sök</button>
    </div>
  </div>
</div>
<div class="ui header-navbar equal width center aligned grid container">
  <a [routerLink]="RoutePaths.home.toUrl()" class="blue column">
    Produkter
  </a>
  <a [routerLink]="RoutePaths.home.toUrl()" class="blue column">
    Kategorier
  </a>
  <a [routerLink]="RoutePaths.home.toUrl()" class="blue column">
    Taggar
  </a>
  <a [routerLink]="RoutePaths.home.toUrl()" class="blue column">
    Senaste nytt
  </a>
  <a [routerLink]="RoutePaths.home.toUrl()" class="blue column">
    Hur att köpa
  </a>
  <a [routerLink]="RoutePaths.home.toUrl()" class="blue column">
    Kontakta ETF
  </a>
</div>
<div class="ui grid container">
  <div class="eight wide darkblue column header-lowbar">
  </div>
  <div class="eight wide blackblue column header-lowbar">
  </div>
</div>