.header-line {
    margin-top: 0;
    margin-bottom: 0;
}

.ui.grid > .column.header-lowbar {
    padding-top: 0;
} 

.header-navbar > a.column {
    font-weight: bold;
    color: #fff !important;
}

.admin-link {
    margin-right: 2em;
}