<div class="ui breadcrumb">
  <a [routerLink]="RoutePaths.home.toUrl()" class="section">ETF Lager</a>
  <i class="right angle icon divider"></i>
  <a [routerLink]="RoutePaths.admin_home.toUrl()" class="section">Admin</a>
  <i class="right angle icon divider"></i>
  <a [routerLink]="RoutePaths.admin_images.toUrl()" class="section">Bildhantering</a>
  <i class="right angle icon divider"></i>
  <div class="active section">Uppladdning av bilder</div>
</div>

<h2 class="ui center aligned header">Uppladdning av bilder</h2>
<div class="ui divider"></div>

<div class="ui orange segment" [class.placeholder]="images.length == 0">
  <div *ngIf="images.length != 0" class="ui grid">
    <div *ngFor="let image of images" class="four wide column">
      <div class="ui card">
        <div class="image">
          <img src="data:image/png;base64,{{image.imageData}}">
        </div>
        <div class="content">
          <a class="header">{{image.name}}</a>
          <div class="meta">
            <span class="date">Joined in 2013</span>
          </div>
        </div>
        <div *ngIf="image.progress != 100" class="extra content">
          <div class="ui blue active progress" [attr.data-percent]="image.progress">
            <div class="bar" style="transition-duration: 300ms" [style.width.%]="image.progress">
              <div class="progress">{{image.progress}}%</div>
            </div>
            <div class="label">Laddar upp bild</div>
          </div>
        </div>
        <div *ngIf="image.progress == 100" class="extra content">
          <div class="ui green active progress" data-percent="100">
            <div class="label">Uppladdning klar</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="images.length != 0">
    <br>
    <br>
    <br>
  </div>

  <div *ngIf="images.length == 0" class="ui icon header">
    <i class="images outline icon"></i>
    Välj bilder för att påbörja uppladdningen.
  </div>
  <div *ngIf="images.length == 0" (click)="requestFiles()" class="ui primary button">Ladda upp bilder</div>
  <div *ngIf="images.length != 0" (click)="requestFiles()" class="ui primary button">Ladda upp fler bilder</div>

  <input id="adminImageUpload" #upload type="file" accept="image/*" autofocus multiple required
    (change)="uploadFiles(upload.files)" />
</div>