<div class="ui breadcrumb">
  <a [routerLink]="RoutePaths.home.toUrl()" class="section">ETF Lager</a>
  <i class="right angle icon divider"></i>
  <div class="active section">Admin</div>
</div>

<h2 class="ui center aligned header">Kontrollpanel</h2>
<div class="ui divider"></div>

<div class="ui equal width grid">
  <div class="row">
    <a [routerLink]="RoutePaths.admin_products.toUrl()" class="column">
      <div class="ui very padded segment red">
        <h3 class="ui center aligned icon header">
          <i class="red boxes icon"></i>
          Produkter
        </h3>
      </div>
    </a>
    <a [routerLink]="RoutePaths.admin_images.toUrl()" class="column">
      <div class="ui very padded segment orange">
        <h3 class="ui center aligned icon header">
          <i class="orange images outline icon"></i>
          Bilder
        </h3>
      </div>
    </a>
    <a [routerLink]="RoutePaths.admin_sales.toUrl()" class="column">
      <div class="ui very padded segment yellow">
        <h3 class="ui center aligned icon header">
          <i class="yellow cart plus icon"></i>
          Försäljning
        </h3>
      </div>
    </a>
  </div>

  <div class="row">
    <a [routerLink]="RoutePaths.admin_categories.toUrl()" class="column">
      <div class="ui very padded segment green">
        <h3 class="ui center aligned icon header">
          <i class="green folder open outline icon"></i>
          Kategorier
        </h3>
      </div>
    </a>
    <a [routerLink]="RoutePaths.admin_tags.toUrl()" class="column">
      <div class="ui very padded segment blue">
        <h3 class="ui center aligned icon header">
          <i class="blue tags icon"></i>
          Taggar
        </h3>
      </div>
    </a>
    <a [routerLink]="RoutePaths.admin_news.toUrl()" class="column">
      <div class="ui very padded segment purple">
        <h3 class="ui center aligned icon header">
          <i class="purple thumbtack icon"></i>
          Nyheter
        </h3>
      </div>
    </a>
  </div>
</div>