.header-line {
    margin-top: 0;
    margin-bottom: 0;
}

.ui.grey.header {
    color: #bfbfbf !important;
}
.ui.blue.header {
    color: #0050b3 !important;
}
.ui.grid > .grey.column {
    background-color: #bfbfbf !important;
}
.ui.grid > .blue.column {
    background-color: #0050b3 !important;
}