<div *ngIf="product != null" class="ui card">
  <a [routerLink]="getProductPath()" class="image">
    <img src="data:image/png;base64,{{product.image.imageData}}">
  </a>
  <div class="content">
    <a [routerLink]="getProductPath()" class="header">{{product.title}}</a>
    <div class="meta">
      <span class="date">{{product.artnr}}</span>
    </div>
    <div class="description">
      {{product.shortDescription}}
    </div>
  </div>
  <div class="extra content">
    <div class="ui large header">
      <product-card-price [product]="product"></product-card-price>
      <product-stock-status [stockStatus]="product.stockStatus"></product-stock-status>
    </div>
  </div>
</div>