<div class="ui padded padded grid">
  <div class="row">
    <div class="ten wide column">
      <div class="ui red segment">

        <form (ngSubmit)="formSubmit()" class="ui large form">

          <div class="field">
            <label>Produkttitel:</label>
            <input [(ngModel)]="product.title" type="text" placeholder="Produkttitel" required>
          </div>

          <div class="field">
            <label>Kort beskrivning:</label>
            <input [(ngModel)]="product.shortDescription" type="text" placeholder="Kort beskrivning" required>
          </div>

          <div class="field">
            <label>Lång beskrivning:</label>
            <textarea [(ngModel)]="product.longDescription" rows="8" placeholder="Full beskrivning" required></textarea>
          </div>

          <br>

          <div class="inline fields">
            <label>Lagerstatus:</label>
            <div class="field">
              <div class="ui radio checkbox">
                <input (click)="stockStatusChange(1)" id="stock-available" type="radio" name="stock-status"
                  [checked]="product.stockStatus.available">
                <label for="stock-available">
                  <div class="ui green label">FINNS I LAGER</div>
                </label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input (click)="stockStatusChange(2)" id="stock-empty" type="radio" name="stock-status"
                  [checked]="!product.stockStatus.available && !product.stockStatus.unknown">
                <label for="stock-empty">
                  <div class="ui red label">SLUT PÅ LAGER</div>
                </label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input (click)="stockStatusChange(3)" id="stock-unknown" type="radio" name="stock-status"
                  [checked]="product.stockStatus.unknown">
                <label for="stock-unknown">
                  <div class="ui orange label">OKÄNT / VET EJ</div>
                </label>
              </div>
            </div>
          </div>

          <br>

          <div class="two fields">
            <div class="field">
              <label>Pris:</label>
              <input [(ngModel)]="product.price" type="number" min="0" max="99999" placeholder="Pris" required>
            </div>
            <div class="field">
              <label>Okänt pris:</label>
              <div class="ui orange toggle checkbox">
                <input [(ngModel)]="product.priceUnknown" type="checkbox" name="public">
                <label></label> <!-- <label> must keep -->
              </div>
            </div>
          </div>

          <br>

          <div class="field">
            <label>Imgnr: (0 för ingen)</label>
            <input [(ngModel)]="product.image.imgnr" type="number" min="0" max="99999999" placeholder="Imgnr" required>
          </div>

          <br>

          <button class="ui blue button" type="submit">Spara</button>
        </form>

      </div>
    </div>
  </div>
</div>