.ui.radio.checkbox input,
.ui.radio.checkbox label::before,
.ui.radio.checkbox label::after {
    margin-top: 0.4rem;
}

.ui.toggle.checkbox input,
.ui.toggle.checkbox label {
    margin-top: 0.8rem;
    margin-left: 1.2rem;
}