<div class="ui breadcrumb">
  <a [routerLink]="RoutePaths.home.toUrl()" class="section">ETF Lager</a>
  <i class="right angle icon divider"></i>
  <a [routerLink]="RoutePaths.admin_home.toUrl()" class="section">Admin</a>
  <i class="right angle icon divider"></i>
  <a [routerLink]="RoutePaths.admin_products.toUrl()" class="section">Produkthantering</a>
  <i class="right angle icon divider"></i>
  <div class="active section">Lägg till ny produkt</div>
</div>

<h2 class="ui center aligned header">Lägg till ny produkt</h2>
<div class="ui divider"></div>

<product-editor></product-editor>