<div class="ui breadcrumb">
  <a [routerLink]="RoutePaths.home.toUrl()" class="section">ETF Lager</a>
  <i class="right angle icon divider"></i>
  <div class="active section">Sökresultat för "{{searchQuery}}"</div>
</div>

<h2 class="ui center aligned icon header">
  <i class="circular search icon"></i>
  Sökresultat för "{{searchQuery}}"
</h2>
<div class="ui divider"></div>

<div class="ui grid">
  <div class="four wide column" *ngFor="let product of products">
    <product-card [product]="product"></product-card>
  </div>
</div>